@model List<Application.ViewModels.PokemonViewModel>
@using Application.Services;

@{
    ViewData["Title"] = "Home Page";
    string color1, color2 = "gray";
}

<div class="container-fluid">
    <h2 class="mb-3">Mis pokemones usando Entity Framework</h2>
    <div class="row pokemonsRow">

    @foreach(Application.ViewModels.PokemonViewModel pokemon in Model)
        {
            <div class="col pokemon">
                <div class="card cardPokemonHome shadow-sm">
                    <img class="bd-placeholder-img card-img-top imagePokemon" src="@pokemon.ImagePath"></img>
                    <h4 class="m-2">@pokemon.Name</h4>
                    <div class="textPokemon d-flex flex-column m-2 gap-3">
                        @{
                            color1 = PokemonServices.ChangeColorType(pokemon.Type1.Name);
                            color2 = PokemonServices.ChangeColorType(pokemon.Type2.Name);
                        }
                        <div class="card-text d-flex flex-row justify-content-between">
                            <b>Tipo primario: </b>
                            <div style="background-color:@color1;" class="typePokemon">
                                @pokemon.Type1.Name
                            </div>
                        </div>
                        <div class="card-text d-flex justify-content-between">
                            <b>Tipo Secundario: </b>
                            <div style="background-color:@color2" class="typePokemon">
                                @pokemon.Type2.Name
                            </div>
                        </div>
                        <div class="card-text">
                            <b>Region: </b>
                            @pokemon.Region.Name
                        </div>
                    </div>
                   
                </div>
            </div>
        }
    </div>
</div>
